* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #fff;
}

.loading {
  animation: spin 1s linear infinite;
}

p {
  color: #ffffff99;
}

@media (max-width: 768px) {
  h1 {
    font-size: 20px;
    margin-bottom: 5px;
  }

  p {
    font-size: 14px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
